:root {
  color-scheme: dark light;
  --primary-bg: rgb(255, 255, 255);
  --primary-fg: #000;
}

.dark-mode {
  --primary-bg: #020202;
  --primary-fg: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--primary-bg);
  color: var(--primary-fg);
}

.controller {
  position: absolute;
  top: 1rem;
}

.interstitial-wrapper {
  width: 600px;
  height: 150px;
}

#offline-resources {
  display: none;
}

#dark-mode-toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #bbb;
}

#fullscreen-toggle {
  position: fixed;
  top: 29px;
  right: 75px;
  font-size: 25px;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #bbb;
}
